<ul id="school">
<form action="/school/1">
    <input type="submit" value="Grade 1" />
</form>
<form action="/school/2">
    <input type="submit" value="Grade 2" />
</form>
<form action="/school/3">
    <input type="submit" value="Grade 3" />
</form>
<form action="/school/4">
    <input type="submit" value="Grade 4" />
</form>
<form action="/school/5">
    <input type="submit" value="Grade 5" />
</form>
<form action="/school/6">
    <input type="submit" value="Grade 6" />
</form>
<form action="/school/7">
    <input type="submit" value="Grade 7" />
</form>
<form action="/school/8">
    <input type="submit" value="Grade 8" />
</form>
</ul>
<ul id="jplt">
<form action="/jlpt/5">
    <input type="submit" value="JLPT 5" />
</form>
<form action="/jlpt/4">
    <input type="submit" value="JLPT 4" />
</form>
<form action="/jlpt/3">
    <input type="submit" value="JLPT 3" />
</form>
<form action="/jlpt/2">
    <input type="submit" value="JLPT 2" />
</form>
<form action="/jlpt/1">
    <input type="submit" value="JLPT 1" />
</form>
</ul>
