<ul id="school">
<button type=\"submit\" name="submit" value="school 1">Grade 1</button>
<button type=\"submit\" name="submit" value="school 2">Grade 2</button>
<button type=\"submit\" name="submit" value="school 3">Grade 3</button>
<button type=\"submit\" name="submit" value="school 4">Grade 4</button>
<button type=\"submit\" name="submit" value="school 5">Grade 5</button>
<button type=\"submit\" name="submit" value="school 6">Grade 6</button>
<button type=\"submit\" name="submit" value="school 7">Grade 7</button>
<button type=\"submit\" name="submit" value="school 8">Grade 8</button>
</ul>
<ul id="jplt">
<button type=\"submit\" name="submit" value="jplt 5">JPLT Level 5</button>
<button type=\"submit\" name="submit" value="jplt 4">JPLT Level 4</button>
<button type=\"submit\" name="submit" value="jplt 3">JPLT Level 3</button>
<button type=\"submit\" name="submit" value="jplt 2">JPLT Level 2</button>
<button type=\"submit\" name="submit" value="jplt 1">JPLT Level 1</button>
</ul>